<div class="budget">
    <div class="budget-datepicker-box">
        <div class="budget-total">
            <span class="budget-title">Today's Budget</span>
            <span class="budget-amount" *ngIf="budget!==''">&#8361; {{budget}}</span>            
        </div>
        <span class="fill-remaining-space"></span>
        <mat-form-field>
            <input matInput [matDatepicker]="datepicker" placeholder="Choose a date" [value]="date.value">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
    </div>
    <hr>
    <div class="remain-total">
        <span class="remain-title">Remain</span>
        <span class="remain-amount" [ngStyle]="{'color':remain<=0?'red':'black'}">&#8361; {{remain}}</span>
    </div>
    <hr>
    <mat-form-field>
        <input matInput placeholder="consumption" type="text" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onAdd()">Add Consumption</button>
    <div class="mat-elevation-z1">
        <mat-table [dataSource]="dataSource">
            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                <mat-cell *matCellDef="let consumption"> {{consumption.amount}} </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="desc">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let consumption"> {{consumption.desc}} </mat-cell>
            </ng-container>

            <!-- Row Template -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let consumption; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>