.budget{
    box-sizing: border-box;
    min-width: 400px;
    padding: 20px;
}

.balance-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 19px;
    font-weight: bold;
}

.balance-title{
    margin-bottom: 5px;
    color: rgba(0,0,0,0.5);
}

.balance-amount{
    margin-left: 50px;
}

.budget-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 19px;
    font-weight: bold;
}

.budget-title{
    margin-bottom: 5px;
    color: rgba(0,0,0,0.5);
}

.budget-amount{
    margin-left: 50px;
}

.division-line {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.2);
}

.fill-remaining-space {
    flex: 1;
}

.add-consumption {
    display: block;
    min-width: 135px;
    margin-top: 10px;
    color: rgba(0,0,0,0.5);
}

.consumption-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.consumption-form mat-form-field {
    width: 30%;
    margin-right: 10px;
}

.consumption-form button {
    width: 30%;
    min-width: 100px;
}

.consumption-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

.consumption-list-title {
    color: rgba(0,0,0,0.5);
}

@media screen and (min-width: 600px) {
    .budget-balance {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(0,0,0,.2);
        justify-content: space-between;
    }

    .division-line {
        display: none;
    }
}