<div class="budget">

    <mat-form-field class="ngDatePicker" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input style="display:inline" matInput [matDatepicker]="datepicker" placeholder="Choose a date" [value]="date.value">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <div class="budget-balance">
        <div class="balance-total">
            <span class="balance-title">Balance</span>
            <span class="balance-amount" [ngStyle]="{'color':balance<=0?'red':'black'}">{{balance | currency:'KRW':'symbol'}}</span>
        </div>

        <div class="division-line"></div>

        <div class="budget-total">
            <span class="budget-title">Today's Budget</span>
            <span class="budget-amount" *ngIf="budget.toString()!==''">{{budget | currency:'KRW':'symbol'}}</span>
        </div>

        <div class="division-line"></div>
    </div>

    <span class="add-consumption">Add Consumption:</span>
    <form class="consumption-form" (ngSubmit)="onAdd()" [formGroup]="consumptionForm">
        <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput
                formControlName="amount" [errorStateMatcher]="matcher" placeholder="Amount" type="text">
            <mat-error *ngIf="consumptionForm.controls.amount.hasError('pattern') && !consumptionForm.controls.amount.hasError('required')">
                <strong>Numbers</strong> only
            </mat-error>
            <mat-error *ngIf="consumptionForm.controls.amount.hasError('required')">
                Amount is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput
                formControlName="desc" placeholder="Description" type="text">
        </mat-form-field>
        <button [disabled]="!consumptionForm.valid" mat-stroked-button color="accent" type="submit">Add</button>
    </form>

    <div class="consumption-list">
        <span class="consumption-list-title">Today's Consumptions</span>
    </div>

    <div class="mat-elevation-z1">
        <mat-table [dataSource]="dataSource">
            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                <mat-cell *matCellDef="let consumption"> {{consumption.amount | currency:'KRW'}} </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="desc">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let consumption"> {{consumption.desc}} </mat-cell>
            </ng-container>

            <!-- Row Template -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let consumption; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div class="action-button-box">
        <button mat-raised-button color="warn" (click)="onClear()" [disabled]="!canClear">Clear</button>
        <button mat-raised-button color="primary">Save</button>
    </div>
</div>