.budget{
    box-sizing: border-box;
    min-width: 400px;
    padding: 16px;
}

.budget-balance {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e8effa;
    flex-direction: row;
    justify-content: space-evenly;
}

.budget-balance div {
    width: 30%;
    height: 60px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.budget-balance .symbol {
    color: rgba(0,0,0,0.5);
}

.balance-total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}

.balance-title{
    margin-bottom: 5px;
    color: #3c70e8;
}

.budget-total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}

.budget-title{
    margin-bottom: 5px;
    color: #3c70e8;
}

.division-line {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.2);
}

.fill-remaining-space {
    flex: 1;
}

.add-consumption {
    display: block;
    min-width: 135px;
    margin-top: 10px;
    font-size: 15px;
    color: rgba(0,0,0,0.5);
}

.consumption-list {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consumption-list-title {
    color: #3c70e8;
    font-size: 15px;
}

.consumption-list-add {
    color: #3c70e8;
}

.action-button-box{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 20px;
}