.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

.calendar > div {
  flex: 1;
  display: flex;
  align-items: center;
}

.month {
  width: 100%;
  background-color: #3c70e8;
}

.select-month {
  height: 100%;
  padding: 10px;
  background-color: #3c70e8;
  color: white;
  border: none;
  outline: none;
}

.select-month > option{
  min-height: 1.5em;
}

.day-of-week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: rgba(0,0,0,.5);
}

.day-of-week div {
  width: 100%;
  text-align: center;
  padding: 3px;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.day {
  width: 10%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.day.active {
  background-color: #3c70e8;
}

.day.today {
  font-weight: bold;
  text-decoration: underline;
}