<div class="calendar mat-elevation-z1">
  <div class="month">
    <select class="select-month" [formControl]="month" (change)="selectMonth(month)">
      <option *ngFor="let month of months" [ngValue]="month.value">{{month.name}}</option>
    </select>
  </div>
  <div class="day-of-week">
    <div>Sun</div>
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thr</div>
    <div>Fri</div>
    <div>Sat</div>
  </div>
  <div class="week" *ngFor="let week of weeks">
    <div *ngFor="let day of week.days" 
         class="day" 
         [class.active]="isSelectedDate(day)" 
         [class.today]="isToday(day)" 
         (click)="selectDay(day)">{{day}}</div>
  </div>
</div>